
.nav-link.green {
    color: rgb(54, 109, 177); 
    font-family: Arial, Helvetica, sans-serif;
    
  }
 
.logo{
    color: rgb(54, 109, 177);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .navbar-brand img {
    filter: invert(100%); 
  }
.para{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-nav .nav-link {
    width: 10rem; 
    
  }
  .head{
    font-weight: bold;

  }
  